[Desktop Entry]
Encoding=UTF-8
Name=Gnome(Nvidia Xrun)
Comment=Log in using the Gnome window manager (running with nvidia-xrun)
Type=Application
Exec=/usr/local/bin/nvidia-xrun /usr/bin/gnome-session
TryExec=/usr/local/bin/nvidia-xrun /usr/bin/gnome-session
#Icon=gnome
