[Desktop Entry]
Encoding=UTF-8
Name=Xfce4(Nvidia Xrun)
Comment=Log in using the Xfce4 window manager (running with nvidia-xrun)
Type=Application
Exec=/usr/bin/nvidia-xrun /usr/bin/xfce4-session
TryExec=/usr/bin/nvidia-xrun /usr/bin/xfce4-session
Icon=xfce4-session
